#AlertaSombra{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.486);
    z-index: 100;


    #alertaDiv{
        width: 60vw;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: white;
        background-color: #1e1e1e;
        border: 2px solid red;

        h2{
            width: 100%;
            padding: 10px 0px;
            text-align: center;
            border-bottom: 1px solid grey;

        }

        p{
            text-align: center;
            margin: 15px 0px;
        }

        .btnDiv{
            margin-top: 20px;

            button{
                width: 50%;
                padding: 8px;
                font-weight: bold;

    
            }

            button:nth-child(2){
                color: white;
                background-color: red;
            }
        }
        
    }
}