#listaEditavel, #timeline{
    // position: absolute;
    height: inherit;
    
 
    height: 94vh;
    width: 100%;
    display: none;
    background-color: #1e1e1e;
    color: white;
    z-index: 10;
    // border-top: 4px solid orange;
    // border-bottom: 4px solid orange;

    ul{
        padding: 20px;
    }

    .itemLista{
        display: flex;
        align-items: center;

        justify-content: space-between;

        margin-bottom: 10px;
        padding: 16px 7px;
        // font-size: 1.1rem;
        background-color: rgb(37, 37, 37);

        .usernameDiv, .principal{
            display: flex;
            align-items: center;

            .userFoto{
                width: 60px;
                border-radius: 50%;
                margin-right: 10px;  
            }

            h4{
                font-size: 1.2rem;
            }
            p{
                color: var(--corSecundaria);
            }
        }

        

        button, .novidade{
            margin-right: 3px;
            padding: 5px;
            color: white;
            font-weight: bold;
            background: none;
        }
    }
}

#timeline{
    display: block;
    .itemLista{
        .info{
            display: flex;
            flex-direction: row;
            .icone{
                font-size: 2rem;
                // color:red;
                margin-right: 10px;
            }
            .principal{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h4{
                    // color: red;
                }
            }
        }

        .novidade{
            font-size: 1.4rem;
        }
    }
}
@media (max-width: 700px){
    #listaEditavel{
        height: 88vh;
        width: 100%;
    }


}