.loginDiv{
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    justify-content: space-evenly!important;
    background-color: #1e1e1e;
    color: white;
    z-index: 1000;

    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    button{
        width: 300px;
        margin-top: 20px;
        padding: 10px 35px;
        color: white;
        font-weight: bold;
        border-radius: 15px;
        border: none;
        background-color: rgb(12, 180, 12);
    }
}

.centralizar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

