:root {
    --gradientLeve: linear-gradient(95deg, rgb(0, 0, 150), rgb(150, 0, 0));
    --gradientForte: linear-gradient(95deg, rgb(0, 0, 255), rgb(255, 0, 0));
    --corFundo1: #1e1e1e;
    --corPrimaria: #fdfdfd;
    --corSecundaria: #aeadad;
    
    
    --corOutline: black;
    
}

*{
    margin: 0;
    padding: 0;
}

.logo{
    font-family: sans-serif;
    font-weight: 700;
    cursor: default;

    .icone{
        color: red!important;
    }
    .titulo {
        background: var(--gradientForte);
        -webkit-background-clip: text;
        color: transparent;
      }
}


body{

    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
}
button{
    cursor: pointer;
}

.googleFoto{
    margin: 0px 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container{
    margin: auto;
    position: relative;
    height: 100vh;
    overflow: hidden;
    max-width: 1300px;
    background-color: #1e1e1e;
    border: 2px solid var(--corOutline);
    
}

.bordaGradient{
    border: 2px solid transparent;
    border-image: var(--gradientLeve);
    border-image-slice: 1;
}
.conteudo{
    display: grid;
    grid-template-columns: 25% 75%;
}



@media (max-width: 700px){
    .conteudo{
        grid-template-columns: 100%;
    }
}