nav{
    height: 3vh;
    padding: 10px;
    background-color: #1e1e1e;
    color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 100;

    .logo{
        font-size: 1.1rem;

    }
    div{
        color: white;
        cursor: pointer;
        font-weight: 600;
    }

    .navLogadoInfo{
        display: flex;
        flex-direction: row;
        align-items: center;

        img{
            margin: 0px 10px;
            width: 22px;
            border-radius: 50%;
        }
    }
}

@media (max-width: 550px){
    .logo{
        font-size: 1rem!important;
        padding: 0!important;
    }
}