#telaPerfilInfo{
    position: relative;
    display: block;
    padding: 20px;
    height: 90vh;
    overflow: auto;
    color: white;

    .perfilInfoPrincipal{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .fotoNomeRecadoContainer{
            display: flex;
            flex-direction: column;

            .dataInfo{
                margin-top: 20px;
                font-weight: bold;
            }

        }
        .foto{
            font-size: 3rem;
            color: white;
        }
        
        .fotoDePerfil{
            width: 130px;
            height: 130px;
            border-width: 3px;
        }        
        h1{
            margin-top: 5px;
            font-size: 1.6rem;
            font-weight: bold;
            // background: var(--gradientForte);
            // -webkit-background-clip: text;
            // color: transparent;
        }
        .usernameInfo{
            font-size: 1.3rem;
            color: var(--corSecundaria);
        }

        button{
            margin-top: 10px;
            border-radius: 15px!important;
            padding: 10px 35px;
            font-weight: bold;
            color: white;
            background: none;
        }

        .recadoInfo{
            color: white;
            margin-top: 20px;
            // font-weight: bold;
            font-size: 1.1rem;
        }


        text-align: start;
        margin-bottom: 2vh;
        
        
        
    }

    .dados{
        padding: 20px 0px;
        font-size: 1.2rem;
        list-style: none;
        width: min-content;
        text-align: start;
        color: var(--corSecundaria);
        // border: 1px solid blue;
        


        .seguidores{
            display: inline-flex;
            text-align: center;
            margin-bottom: 30px;
          
            :nth-child(1){

                
                margin-right: 10px;
            }

        }

        .dadosContagem{
            color: white!important;
            font-weight: bold;
            
           
        }

        
        
    }

    .perfilPosts{
        margin-top: 15px;
        h3{
            color: var(--corSecundaria);
        }
        
    }
}

.btn{
    cursor: pointer;
}
#recadoPerfilInput{
    padding: 10px;
    color: white;
    font-weight: bold;
    background: none;
    border: 1px solid gray;
}

@media (max-width: 500px) {
    #telaPerfilInfo{
        height: 87vh;

    }
    
}