.postCurtido, .likeBtn:hover{
    color: red!important;
}.postRepostado, .repostBtn:hover{
    color: blue!important;
}

.deletarPostBtn{
    width: 50px;
    padding: 3px;
    background: none;
    color: red;
    border: 1px solid red;

}

.post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:hover{
        background-color: #2e2e2e;
    }

    .fotoDePerfil{
        width: 40px;
        margin-right: 10px;
    }

    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85%;
    }

    .alinhamento{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        min-width: 85%;
    }

    header{
        width: 100%;
    }

    .linha1{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;

        .userName{
            margin-right: 10px;
        }

        .data{
            color: rgb(164, 164, 164);
            font-size: 1rem;
        }
    }
    

    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: end;

        button{
            text-align: center;
            width: max-content;
            color: white;
            background: none;
            border: none;
            font-size: 1rem;
            padding: 5px 15px;
            margin-bottom: 5px;
            cursor: pointer;
        }

        
    }
}